/*body*/

body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.nav-bg {
    width: 100%;
    z-index: 1020;
}

.nav-link:hover {
    transform: scale(0.9);
}

.noto-font {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
    line-height: 1.8;
    letter-spacing: 2px;
}

/*通用元件設定*/
.logo-size {
    width: 50px;
}

.logo {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;
}

.big-title {
    font-size: 5rem;
}
@media (max-width: 767.98px) {
    .big-title {
       font-size: 2.5rem;
    }
}


/*lodaing設定*/
#preloader {
    position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100vh;
  background: #2F2F2F;
  z-index: 9999;
  transition: all 0.5s ease;
}

.loader {
    position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%,-50%);
  transition: 0.4s;
  .loader_bar  {
    position: relative;
    width: 350px;
    height: 2px;
}
.loader_img {
    position: absolute;
     top: 50%;
     left: 38%;
     width: 60px;
     height: 60px;
     margin: 0 auto;
     -webkit-animation:spin 2s linear infinite;
     -moz-animation:spin 2s linear infinite;
     animation:spin 2s linear infinite;
    }
    @media (max-width: 767.98px) {
    .loader_img {
        position: absolute;
        top: -50px;
        left: 40%;
    }
}
//  @-moz-keyframes spin { 
    //      100% { -moz-transform: scale(1.2); } 
    //  }
//  @-webkit-keyframes spin { 
    //      100% { -webkit-transform: scale(1); } 
    //  }
    @keyframes spin { 
        0% { -webkit-transform: scale(1); 
         transform:scale(1);  }
         25% { -webkit-transform: scale(1.1); 
         transform:scale(1.1); }
  50% { -webkit-transform: scale(1.2); 
         transform:scale(1.2); }
         75% { -webkit-transform: scale(1.1); 
            transform:scale(1.1); }
            100% { 
                -webkit-transform: scale(1); 
         transform:scale(1); 
     } 
 }
}

/*圖片RWD*/
.featured-width {
    width: calc(50% - 0.6rem);
}

/*header 微調*/
// @media (max-width: 767.98px) {
//     .container-fluid {
//         padding-top: 1rem;
//     }
//     header .container {
//         padding-bottom: 1rem;
//     }
// }

/*more btn*/
.cta {
  border: none;
  background: none;
}

.cta span {
  padding-bottom: 0.5rem;
  letter-spacing: 4px;
  padding-left: 5px;
  text-transform: uppercase;
  /*大寫文法*/
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: #fff;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*footer*/
.footer {
    margin-top: 100px;
    .footer-title {
        font-size: 4rem;
        line-height: normal;
    }
    
    .footer-icon {
      justify-content: end;
    }
    
    .icon {
        --transition-duration: 500ms;
        --transition-easing: ease-out;
        
        width: 80px;
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        text-decoration: none;
        color: var(--foreground-color);
        backdrop-filter: blur(2px);
        border-radius: 50rem;
        box-shadow: 
          0px 
          calc(var(--size) / 6) 
          calc(var(--size) / 3) 
          rgba(black, 0.1);
        
        transition: transform 
          var(--transition-duration) 
          var(--transition-easing);
        
        overflow: hidden;
        
        &::before {
          content: '';
          background: rgba(white, 0.4);
          width: 60%;
          height: 100%;
          top: 0%;
          left: -125%;
          
          transform: skew(45deg);
          
          position: absolute;
          
          transition: left 
            var(--transition-duration)
            var(--transition-easing);
        }
        
        &:hover {
          transform: translateY(-25%);
          
          &::before {
            left: 150%;
          }
        }
      }
    
    .copy-right {
        font-size: 0.875rem;
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 767.98px) {
  .footer {
    .footer-icon {
      justify-content: flex-start;
      padding-left: 0;
    }
  }
}