

.banner {
    position: relative;
    background-image: url(../images/index/作品集網頁banner.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    .btn-contact {
        position: absolute;
        top:90%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 50;
        padding: 0.5rem 1.5rem;
    }
    .readmore-btn {
        position: absolute;
        bottom: 10%;
        left: 8%;
        transform: translate(-50%, -50%);
        // 定位置中
        width: 100px;
        -webkit-animation: baloon_1 3s infinite;
        -moz-animation: baloon_1 3s infinite;
        -ms-animation: baloon_1 3s infinite;
        -o-animation: baloon_1 3s infinite;
        animation: baloon_1 3s infinite;
        -webkit-animation-direction: alternate;
        -moz-animation-direction: alternate;
        -ms-animation-direction: alternate;
        -o-animation-direction: alternate;
        animation-direction: alternate;
    }

    @-webkit-keyframes baloon_1{
    0% { transform:translateY(20px);}
    50% {transform:translateY(50px);}
    100% {transform:translateY(20px);}
    }

    @-moz-keyframes baloon_1{
    0% { transform:translateY(20px);}
    50% {transform:translateY(50px);}
    100% {transform:translateY(20px);}
    }

    @-ms-keyframes baloon_1{
    0% { transform:translateY(20px);}
    50% {transform:translateY(50px);}
    100% {transform:translateY(20px);}
    }

    @-o-keyframes baloon_1{
    0% { transform:translateY(20px);}
    50% {transform:translateY(50px);}
    100% {transform:translateY(20px);}
    }

    @keyframes baloon_1{
    0% { transform:translateY(20px);}
    50% {transform:translateY(50px);}
    100% {transform:translateY(20px);}
    }
}

@media (max-width: 767.98px) {
   .banner {
    background-image: url(../images/index/banner_rwd.jpg);
    .btn-contact {
        padding: 0.5rem 1rem;
    }
    .readmore-btn {
        left: 0;
    }
   }
}

.about {
    background-color: #484848;
    .about-img {
        background-image: url(../images/index/about/個人照.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 450px;
    }
}
@media (max-width: 767.98px) {
   .about-text {
    margin-top: 1rem;
   }
}



.skill {
    position: relative;
    justify-content: space-between;
    flex-wrap:wrap;
    .skill-card{
    position: relative;
    width:300px;
}

.skill-card .face{
  width:300px;
  height: 200px;
  transition:.4s;
  
}

.skill-card .face.face1{
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-content:center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.skill-card:hover .face.face1{
  transform: translateY(0);
  box-shadow:
    inset 0 0 60px whitesmoke,
    inset 20px 0 300px #fff,
    inset -20px 0 300px rgb(95, 95, 95),
    -10px 0 80px #fff,
}

.skill-card .face.face1 .content{
  opacity: .2;
  transition:  0.5s;
  text-align: center;
}

.skill-card:hover .face.face1 .content{
  opacity: 1;
 
}

.skill-card .face.face1 .content i{
  font-size: 3em;
  color: white;
  display: inline-block;
   
}

.skill-card .face.face1 .content h3{
  font-size: 1rem;
  color: white;
  text-align: center;
  

}

.skill-card .face.face1 .content a{
   transition: .5s;
}

.skill-card .face.face2{
   position: relative;
   background: whitesmoke;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,.8);
  transform: translateY(-100px);
}

.skill-card:hover .face.face2{
    transform: translateY(0);


}

.skill-card .face.face2 .content p, a{
  font-size: 14px;
  margin: 0 ;
  padding: 0;
  color:#333;
}

.skill-card .face.face2 .content a{
  text-decoration:none;
  color: black;
  box-sizing: border-box;
  outline : 1px dashed #333;
  padding: 10px;
  margin: 15px 0 0;
  display: inline-block;
}

.skill-card .face.face2 .content a:hover{
  background: #333 ;
  color: whitesmoke; 
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}
}

.skill-icon {
    width: 150px;
}
@media (max-width: 767.98px) {
   .skill {
    padding-left: 0;
   }
}



/*featured*/
.content {
    /*hover設定*/
    .featured-content {
      position: relative;
    //   width: calc(50% - 0.6rem);
      height: 550px;
      margin-bottom: 1rem;
    }
    @media (max-width: 767.98px) {
    .featured-content {
        width: 100%;
    }
}
    .featured-content:hover{
        .featured-main {
            background-position: 0;
        }
        .featured-main::before{
            width: 100%;
        }
        .img-hover-zoom img {
          transform: scale(1.5);
        }
        .img-hover-zoom--brightness img {
            filter: brightness(100%);
            transform: scale(1.1);
        }
    }
    .featured-else {
        position: relative;
        width: calc(33% - 0.6rem);
        height: 550px;
    }
    @media (max-width: 767.98px) {
    .featured-else {
        width: 100%;
        margin-bottom: 1rem;
    }
}
    .featured-else:hover{
        .featured-main {
            background-position: 0;
        }
        .featured-main::before{
            width: 100%;
        }
        .img-hover-zoom img {
          transform: scale(1.5);
        }
        .img-hover-zoom--brightness img {
            filter: brightness(100%);
            transform: scale(1.1);
        }
        
    }
    /*基本樣式*/
    .featured-btn {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 2;
    }
    .featured-title {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 230px;
        color: #fff;
        background-color: #404040b0;
        padding-left: 0.5rem;
    }
    .featured-mark {
        font-size: 0.75rem;
        padding-top: 1rem;
        margin: 0;
    }
    /*文字特效*/
    .featured-main {
        background-image: linear-gradient(
            to right,
            #fff,
            #fff 50%,
            #b1b1b1d6 50%
        );
        background-size: 200% 100%;
        background-position: -100%;
        display: inline-block;
        position: relative;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
        font-weight: 800;
    }
    .featured-main:before{
      content: '';
      background: #fff;
      display: block;
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 0;
      height: 3px;
      transition: all 0.3s ease-in-out;
    }
}

.content-space {
    width: 3rem;
    height: 0.5rem;
}
@media (max-width: 767.98px) {
    .featured {
        padding-left: 0;
    }
    .index-content {
        flex-direction: column-reverse;
    }
    .content-mb {
        margin-bottom: 1.5rem;
    }
}


/*img hover*/
.img-hover-zoom {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; 
  overflow: hidden; 
}

.img-hover-zoom img {
  transition: transform .5s ease;
}

.img-hover-zoom--brightness img {
    transition: transform 2s, filter 1.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(50%);
}

.img-hover-zoom--dark img {
    transition: transform 1.5s, filter 1s ease-in-out;
    transform-origin: center center;
    filter: brightness(70%);
}

.img-hover-zoom--dark:hover img {
    filter: brightness(50%);
    transform: scale(1.1);
}

.featured-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*work*/
.work-type {
    position: relative;
    width: 50%;
    height: 650px;
}
@media (max-width: 767.98px) {
    .work-type {
        width: 100%;
    }
}

.work-title {
    position: absolute;
    top: 45%;
    display: block;
    width: 100%;
    text-align: center;
    z-index: 3;
    font-size: 3rem;
    filter: brightness(100);
}
@media (max-width: 767.98px) {
    .work {
        padding-left: 0;
    }
}

