/*作品基本介紹頁*/ 

.product-title .container {
    position: relative;
    height: 100vh;
    .product-title-main {
        padding-bottom: 100px;
    }
    .prdduct-readmore-btn {
        position: absolute;
        bottom: 20%;
        left: 5%;
        transform: translate(-50%, -50%);
        // 定位置中
        width: 100px;
        -webkit-animation: baloon_1 3s infinite;
        -moz-animation: baloon_1 3s infinite;
        -ms-animation: baloon_1 3s infinite;
        -o-animation: baloon_1 3s infinite;
        animation: baloon_1 3s infinite;
        -webkit-animation-direction: alternate;
        -moz-animation-direction: alternate;
        -ms-animation-direction: alternate;
        -o-animation-direction: alternate;
        animation-direction: alternate;
    }
    @-webkit-keyframes baloon_1{
    0% { transform:translateY(20px);}
    50% {transform:translateY(50px);}
    100% {transform:translateY(20px);}
    }

    @-moz-keyframes baloon_1{
    0% { transform:translateY(20px);}
    50% {transform:translateY(50px);}
    100% {transform:translateY(20px);}
    }

    @-ms-keyframes baloon_1{
    0% { transform:translateY(20px);}
    50% {transform:translateY(50px);}
    100% {transform:translateY(20px);}
    }

    @-o-keyframes baloon_1{
    0% { transform:translateY(20px);}
    50% {transform:translateY(50px);}
    100% {transform:translateY(20px);}
    }

    @keyframes baloon_1{
    0% { transform:translateY(20px);}
    50% {transform:translateY(50px);}
    100% {transform:translateY(20px);}
    }
}

.product-banner {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    filter: brightness(0.9);
    height: 846px;
    margin-bottom: 100px;
}

.product-type-work {
    position: relative;
}
.product-type-work::after {
    content: 'work';
    position: absolute;
    top: -24px;
    left: -13%;
    display: inline-block;
    padding: 8px 24px;
    border: 1px solid #fff;
}

.product-type-practice {
    position: relative;
}
.product-type-practice::after {
    content: 'practice';
    position: absolute;
    top: -24px;
    left: -13%;
    display: inline-block;
    padding: 8px 24px;
    border: 1px solid #fff;
}

.product-content-main {
    margin-top: 200px;
    margin-bottom: 200px;
}

.product-introduce {
    line-height: 1.8;
    letter-spacing: 2px;
    font-weight: 500;
}

@media (max-width: 767.98px) {
    .product-banner {
        background-attachment: initial;
    }
    .product-content-text {
        margin-bottom: 3rem;
    }
}

/*作品背景圖*/

/*UI作品*/
.ui-insec {
    background-image: url(../images/index/FEATURED/蟲解食代ui背景.jpg);
}

.ui-Sweetaste {
    background-image: url(../images/work_Web/六角練習作品_甜點網站/甜點.jpg);
}

.ui-chatrobot {
    background-image: url(../images/work_Web/六角練習作品_聊天機器人/聊天機器人.jpg);
}

.ui-bao {
    background-image: url(../images/work_Web/外送電商平台/外送電商平台_4.jpg);
}

/*平面作品*/
.graphic-dreamspace {
    background-image: url(../images/work_Graphic/3D作品練習_DreamSpace/DreamSpace.jpg);
}

.graphic-practise-air {
    background-image: url(../images/work_Graphic/冷氣廣告/冷氣廣告2.jpg);
}

.graphic-practise-lotion {
    background-image: url(../images/work_Graphic/化妝水廣告/化妝水廣告.jpg);
}


.graphic-practise-pumpkin {
    background-image: url(../images/work_Graphic/南瓜罐頭廣告/南瓜罐頭廣告.jpg);
}

.graphic-practise-Xiaomei {
    background-image: url(../images/work_Graphic/小美雪糕改造/小美雪糕.jpg);
}

.graphic-worldwater {
    background-image: url(../images/work_Graphic/商業攝影作品/生命飲泉_1.jpg);
}

.graphic-haircut {
    background-image: url(../images/work_Graphic/大方理髮採訪/大方理髮採訪_封面.jpg);
}

.graphic-islanddrink {
    background-image: url(../images/work_Graphic/島飲製茶/島飲_3.jpg);
}

.graphic-insec {
    background-image: url(../images/work_Graphic/畢業製作_蟲解食代/B07_第一跨頁_主圖.jpg);
}

.graphic-duckmale {
    background-image: url(../images/work_Graphic/鴨公名片/鴨公名片_範例三.jpg);
}

.graphic-banner-line {
    background-image: url(../images/work_Graphic/banner_line練習/香水海報_line.jpg);
}